<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta>

<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/estilos.css">
</head>
<body>
    <div class="contenedor">
      <div class="hjo" id="a">a</div>
      <div class="hjo" id="b">b</div>
      <div class="hjo" id="c">c</div>
      <div class="hjo" id="d">d</div>
      <div class="hjo" id="e">e</div>
      <div class="hjo" id="f">f</div>
      <div class="hjo" id="g">g</div>
   </div>
  
</body>
</html>